.content{
	position:absolute;
	margin:30px auto;
	left:20%;
	right:20%;
	font-family: 'Arial', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
	padding-bottom: 90px;
}

.logo{
	background: url(images/logoreg.png) no-repeat center;
	background-size: contain;
    width: 227px;
    height: 50px;
    display: block;
    position: relative;
    left: 0;
    top: 30px;
}

.panel{
	position:relative;
	top:50px;
}