.menu{
	padding: 20px 0;
    background: #373b3e;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
	z-index:1;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

.menucontent {
    margin-right: -10px;
    margin-left: -10px;
}

.logo{
	background: url(images/logo.png) no-repeat center;
    background-size: contain;
    width: 227px;
    height: 50px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    outline: none;
}

#come{
	text-decoration: underline;
	font-family:'Arial', sans-serif;
	text-decoration: none;
    outline: none;
	font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    color: #fdfdfd;
    margin-left: 21px;
    margin-right: 25px;
	transition: color 0.5s;
	cursor: pointer;
}

#come:hover{
	color:#bec8d1;
	transition: color 0.5s;
}

#exit{
	float:right;
	text-decoration: underline;
	font-family:'Blogger Sans', sans-serif;
	text-decoration: none;
    outline: none;
	font-size: 24px;
    font-weight: 500;
    color: #313237;
	margin:0;
	padding:0;
	transition: color 0.5s;
	cursor: pointer;
}

#exit:hover{
	color:#bec8d1;
	transition: color 0.5s;
}

.btn{
	font-family:'Arial', sans-serif;
	text-decoration: none;
    outline: none;
	border: 1px solid transparent;
    padding: 14.6px 15.83px;
	border-radius: 3px;
	color: #1fb8b6;
    border-color: #1fb8b6;
	transition: all 0.5s;
}

.btn:hover{
	color: #fdfdfd;
    border-color: #e12885;
	background-color:#e12885;
	transition: all 0.5s;
	
}

.right-content{
	position: relative;
    left: 80%;
    top: 50%;
}

.content{
	position:absolute;
	margin:30px auto;
	left:20%;
	right:20%;
	font-family: 'Arial', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
	padding-bottom: 90px;
}

h2{
	font-size: 46px;
    font-weight: 700;
    letter-spacing: .7px;
}

h3{
	font-size: 20px;
	font-family:'Arial',sans-serif;
	color: #313237;
	line-height: 1.25;
	font-weight: 700;
}

h4{
	font-size: 14px;
    color: #313237;
	font-family:'Blogger Sans',sans-serif;
    margin-bottom: 0;
}

.indeximg{
	max-width: 100%;
}

#hider {
    position: absolute;
    top: 0px;
    left: 0px;
}
#hider:checked + .hidden {
    display: block;
}

.hidden{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin:0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index:2;
}

.form {
	position:relative;
	border: 1px solid #fff;
	border-radius: 3px;
	max-width:320px;
	margin:auto;
	background-color:#fff;
	z-index:3;
	padding: 48px 40px 20px;
	-webkit-box-shadow: 15px 15px 40px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 15px 15px 40px 0px rgba(0,0,0,0.51);
	box-shadow: 15px 15px 40px 0px rgba(0,0,0,0.51);
}

.form input {
	outline:none;
	width:100%;
	padding: 0.4375rem 0.75rem;
	line-height: 1.25;
	font-family:'Blogger Sans',sans-serif;
	color:#bec8d1;
	font-size: 14px;
	border: 1px solid #bec8d1;
	border-radius: 3px;
}

.form input:focus {
	color:#313237;
	border-color:#86cecb;
}

.inform{
	margin-bottom: 20px !important;
	font-family:'Blogger Sans',sans-serif;
}