@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: rgb(72, 75, 84);
    font-family: 'Open Sans',sans-serif;
    color: #fff;
}
header{
    background: #2f3238;
    margin: 0 auto;
    padding: 4em 1em;
    text-align: center;
}
header h1 {
    font-size: 2em;
    color: #74777b;
    font-weight: 300;
    margin: 0 0 1rem 0;
}
.wrapper {
    margin: 2em auto;
    max-width: 1124px; 
    width: 100%;
}
footer {
    margin: 20px auto;
    padding: 0.3em;
    color: #cca4a4;
    text-align: center;
}
footer a{
    outline: none;
    color: #3498db;
    text-decoration: none;
}
footer a:hover, a:focus {
	color: #528cb3;
}
footer p{
    margin: 1em auto
}
@media all and (min-width: 0px) and (max-width: 960px) {
  .wrapper {
    width:100%;
    max-width: 570px;
    margin: 1em auto;
  }
}
.image-container {
    width: 250px;
    height: 200px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    -webkit-box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
}
.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
}
/* блок подписи к изображению */
.image-container .image-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Open Sans',sans-serif;
    text-align: center;
}
/* заголовок подписи */
.image-caption h2 {
    margin-top: 50px;
    color: #fffefe;
    font-weight: 300;
}
/* абзац описания картинки */
.image-caption p {
    color: #fff;
}
.image-container .caption {
    top: -210px;
    transition: all 0.5s;
}
.image-container:hover .caption {
    top: 0;
    transition: all 0.5s;
}
