* {
  margin: 0;
  padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	background-image:url(body.png);
	}
.listing{
	 list-style-type:none;
}
.menu{
	box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:30px;
	width:30%;
	margin-top:100px;
	margin-left:35%;
	background-color:rgba(255,255,255,0.6);
	text-align:center;
}
h3 {
  font-size: 16px;
  color: rgba(0,0,0,.6);
  margin:0;
  padding: 0 5px;
  position: relative;
}
h3:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #80C8A0;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  border-top: 1px solid rgba(0,0,0,.3);
}
li {margin:0;}
a {
  text-decoration: none;
  display: block;  
  font-size: 13px;
  color: rgba(0,0,0,.6);
  padding: 10px;
  position: relative;
  transition: .3s linear;
}
a:hover {
  background: #80C8A0;
  color: white;
}
